@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

$sansFontFamily: 'Lato', sans-serif;

$iconSpritePath: '/images/glyphicons-halflings.png';
@import 'sass-bootstrap/lib/bootstrap';

.browser-message{
  display:none;
}
.no-svg {
  .browser-message{
    display:block;
    font-size: 16px;
  }
  #visualization{
    display:none;
  }
}

#visualization{
  text.brewery-name{
    text-anchor: end;
    dominant-baseline: middle;
  }
  circle{
    fill: rgb(107, 74, 46);
    fill-opacity: 0;
    stroke: #000000;
    stroke-width: 1;
  }
  g.row:hover{
    circle{
      fill-opacity: 0.8;
    }
  }
  g.top_axis, g.bottom_axis{
    path.domain{
      fill: none;
      stroke: none;
    }
    g.tick.major line{
        stroke: #000;
    }
    text.label{
      text-anchor: middle;
    }
  }
}

a.mb-logo-small{
  display:block;
  margin: 0 auto 20px;
  width: 221px;
  height: 23px;
  background: image-url('mashblock-open.png') center no-repeat;
  text-indent: -10000px;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  a.mb-logo-small{
    background-image: image-url('mashblock-open@2x.png');
    background-size: 221px 23px;
  }
}
